In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
import pandas as pd

In [2]:
#dont forget to pip install dotenv: pip install python-dotenv
from dotenv import load_dotenv
import os

In [3]:
#get the uri for the heroku postgres database
#this assumes you have a .env file that is in your gitignore
load_dotenv()
uri = os.getenv('URI')

In [4]:
print(uri)

postgresql://mkabdfhjlqsogu:93873a62a5dccb35747c23cece9b64182121871b6d812159e892d2ac191cd7f8@ec2-54-157-15-228.compute-1.amazonaws.com:5432/d62003lpu7ctu

In [5]:
engine = create_engine(f'{uri}')

## Create Tables

In [6]:
from sqlalchemy import Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

In [7]:
Base = declarative_base()

### Create tables with foreign keys

In [8]:
class Shoe(Base):
    __tablename__ = 'shoe'
    id = Column(Integer, primary_key=True)
    side = Column(String)
    style = Column(String)
    size = Column(Integer)
    photo_url = Column(String)
    description = Column(String)
    brand = Column(String)

    user_id = Column(Integer, ForeignKey("user.id"))
    
    user = relationship("User", foreign_keys=[user_id])
    

class User(Base):
    __tablename__ = 'user'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)

### Add the tables to the database

In [10]:
Base.metadata.create_all(engine)

### Add record to existing table

In [12]:
# shoe_dict = {'id':[14,15,16,17], 'side':['left','right','left','left'],'style':['sneaker','sneaker','sneaker','boot'],'photo_url':['https://i.imgur.com/j5HqHno.jpg','https://i.imgur.com/j5HqHno.jpg','https://i.imgur.com/j5HqHno.jpg','https://i.imgur.com/j5HqHno.jpg'],'description':['cool','shoes','rock','another shoe'],'brand':['nike','nike','nike','nike'],'user_id':['1','1','1','3'],'size':[8,5,5,10]}
# df_1 = pd.DataFrame.from_dict(shoe_dict)

In [13]:
# df_1

In [14]:
# df_1.to_sql('shoe', engine, if_exists='append', index=False)

## Add Table with Data

## Add Table with Data

In [15]:
#make sure all the df columns match perfectly with the way the table was created in sql

## Query Data

In [16]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [17]:
#this will show the names of the tables you created
Base.classes.keys()

['user', 'shoe']

In [18]:
#my table in pgadmin (postgres) is named envdata. 
#EnvironmentData = Base.classes.envdata
#This is where we make the objects with the data from teh shoe
ShoesObject = Base.classes.shoe
UsersObject = Base.classes.user

In [19]:
session = Session(engine)

# EData = session.query(EnvironmentData).all()
SData = session.query(ShoesObject).all()
UData = session.query(UsersObject).all()

In [20]:

# Create our session (link) from Python to the DB
session = Session(engine)

SData = session.query(ShoesObject).all()
myData = []

for shoe in SData:

    fullSdata = {}

    fullSdata = {
        "id": shoe.id,
        "side": shoe.side,
        "style": shoe.style,
        "size": shoe.size,
        "photo_url": shoe.photo_url,
        "description": shoe.description,
        "brand":shoe.brand,
        "user_id":shoe.user_id
    }

    myData.append(fullSdata)

In [24]:
myData

[{'id': 1,
  'side': 'left',
  'style': 'sneaker',
  'size': 10,
  'photo_url': 'https://imgur.com/67Zsobn',
  'description': 'one cool shoe',
  'brand': 'nike',
  'user_id': 3},
 {'id': 2,
  'side': 'right',
  'style': 'boot',
  'size': 9,
  'photo_url': 'https://i.imgur.com/8PHxguM.jpg',
  'description': "there's a boot in my snake",
  'brand': 'redwing',
  'user_id': 2},
 {'id': 3,
  'side': 'left',
  'style': 'dress',
  'size': 12,
  'photo_url': 'https://i.imgur.com/nAQO1Tk.jpg',
  'description': 'super slick shoe',
  'brand': 'Nordstrom',
  'user_id': 1},
 {'id': 4,
  'side': 'left',
  'style': 'sneaker',
  'size': 8,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'cool',
  'brand': 'nike',
  'user_id': 1},
 {'id': 5,
  'side': 'right',
  'style': 'sneaker',
  'size': 5,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'shoes',
  'brand': 'nike',
  'user_id': 1},
 {'id': 6,
  'side': 'left',
  'style': 'sneaker',
  'size': 5,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'rock',
  'brand': 'nike',
  'user_id': 1},
 {'id': 7,
  'side': 'left',
  'style': 'boot',
  'size': 10,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'another shoe',
  'brand': 'nike',
  'user_id': 3},
 {'id': 10,
  'side': 'left',
  'style': 'sneaker',
  'size': 8,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'cool',
  'brand': 'nike',
  'user_id': 1},
 {'id': 11,
  'side': 'right',
  'style': 'sneaker',
  'size': 5,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'shoes',
  'brand': 'nike',
  'user_id': 1},
 {'id': 12,
  'side': 'left',
  'style': 'sneaker',
  'size': 5,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'rock',
  'brand': 'nike',
  'user_id': 1},
 {'id': 13,
  'side': 'left',
  'style': 'boot',
  'size': 10,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'another shoe',
  'brand': 'nike',
  'user_id': 3},
 {'id': 14,
  'side': 'left',
  'style': 'sneaker',
  'size': 8,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'cool',
  'brand': 'nike',
  'user_id': 1},
 {'id': 15,
  'side': 'right',
  'style': 'sneaker',
  'size': 5,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'shoes',
  'brand': 'nike',
  'user_id': 1},
 {'id': 16,
  'side': 'left',
  'style': 'sneaker',
  'size': 5,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'rock',
  'brand': 'nike',
  'user_id': 1},
 {'id': 17,
  'side': 'left',
  'style': 'boot',
  'size': 10,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'another shoe',
  'brand': 'nike',
  'user_id': 3}]

In [27]:

# Create our session (link) from Python to the DB
session = Session(engine)

shoe = session.query(ShoesObject).get(2)

shoes = session.query(ShoesObject).filter_by(user_id = 3)

myData = []

for shoe in shoes:

    fullSdata = {}

    fullSdata = {
        "id": shoe.id,
        "side": shoe.side,
        "style": shoe.style,
        "size": shoe.size,
        "photo_url": shoe.photo_url,
        "description": shoe.description,
        "brand":shoe.brand,
        "user_id":shoe.user_id
    }

    myData.append(fullSdata)

In [28]:
myData

[{'id': 1,
  'side': 'left',
  'style': 'sneaker',
  'size': 10,
  'photo_url': 'https://imgur.com/67Zsobn',
  'description': 'one cool shoe',
  'brand': 'nike',
  'user_id': 3},
 {'id': 7,
  'side': 'left',
  'style': 'boot',
  'size': 10,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'another shoe',
  'brand': 'nike',
  'user_id': 3},
 {'id': 13,
  'side': 'left',
  'style': 'boot',
  'size': 10,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'another shoe',
  'brand': 'nike',
  'user_id': 3},
 {'id': 17,
  'side': 'left',
  'style': 'boot',
  'size': 10,
  'photo_url': 'https://i.imgur.com/j5HqHno.jpg',
  'description': 'another shoe',
  'brand': 'nike',
  'user_id': 3}]