In [2]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
import pandas as pd

In [3]:
#dont forget to pip install dotenv: pip install python-dotenv
from dotenv import load_dotenv
import os

In [4]:
#get the uri for the heroku postgres database
#this assumes you have a .env file that is in your gitignore
load_dotenv()
uri = os.getenv('URI')

In [5]:
print(uri)

postgresql://mkabdfhjlqsogu:93873a62a5dccb35747c23cece9b64182121871b6d812159e892d2ac191cd7f8@ec2-54-157-15-228.compute-1.amazonaws.com:5432/d62003lpu7ctu

In [6]:
engine = create_engine(f'{uri}')

## Create Tables

In [7]:
from sqlalchemy import Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

In [8]:
Base = declarative_base()

### Create tables with foreign keys

In [9]:
class Shoe(Base):
    __tablename__ = 'shoe'
    id = Column(Integer, primary_key=True)
    side = Column(String)
    style = Column(String)
    size = Column(Integer)
    photo_url = Column(String)
    description = Column(String)
    brand = Column(String)

    user_id = Column(Integer, ForeignKey("user.id"))
    
    user = relationship("User", foreign_keys=[user_id])
    

class User(Base):
    __tablename__ = 'user'
    id = Column(Integer, primary_key=True)
    name = Column(String)
    email = Column(String)

### Add the tables to the database

In [10]:
Base.metadata.create_all(engine)

### Add record to existing table

In [11]:
shoe_dict = {'id':[10,11,12,13], 'side':['left','right','left','left'],'style':['sneaker','sneaker','sneaker','boot'],'photo_url':['https://i.imgur.com/j5HqHno.jpg','https://i.imgur.com/j5HqHno.jpg','https://i.imgur.com/j5HqHno.jpg','https://i.imgur.com/j5HqHno.jpg'],'description':['cool','shoes','rock','another shoe'],'brand':['nike','nike','nike','nike'],'user_id':['1','1','1','3'],'size':[8,5,5,10]}
df_1 = pd.DataFrame.from_dict(shoe_dict)

In [12]:
df_1

,id,side,style,photo_url,description,brand,user_id,size
0,10,left,sneaker,https://i.imgur.com/j5HqHno.jpg,cool,nike,1,8
1,11,right,sneaker,https://i.imgur.com/j5HqHno.jpg,shoes,nike,1,5
2,12,left,sneaker,https://i.imgur.com/j5HqHno.jpg,rock,nike,1,5
3,13,left,boot,https://i.imgur.com/j5HqHno.jpg,another shoe,nike,3,10

In [13]:
df_1.to_sql('shoe', engine, if_exists='append', index=False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "shoe_pkey"
DETAIL:  Key (id)=(10) already exists.

[SQL: INSERT INTO shoe (id, side, style, photo_url, description, brand, user_id, size) VALUES (%(id)s, %(side)s, %(style)s, %(photo_url)s, %(description)s, %(brand)s, %(user_id)s, %(size)s)]
[parameters: ({'id': 10, 'side': 'left', 'style': 'sneaker', 'photo_url': 'https://i.imgur.com/j5HqHno.jpg', 'description': 'cool', 'brand': 'nike', 'user_id': '1', 'size': 8}, {'id': 11, 'side': 'right', 'style': 'sneaker', 'photo_url': 'https://i.imgur.com/j5HqHno.jpg', 'description': 'shoes', 'brand': 'nike', 'user_id': '1', 'size': 5}, {'id': 12, 'side': 'left', 'style': 'sneaker', 'photo_url': 'https://i.imgur.com/j5HqHno.jpg', 'description': 'rock', 'brand': 'nike', 'user_id': '1', 'size': 5}, {'id': 13, 'side': 'left', 'style': 'boot', 'photo_url': 'https://i.imgur.com/j5HqHno.jpg', 'description': 'another shoe', 'brand': 'nike', 'user_id': '3', 'size': 10})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

## Add Table with Data

## Add Table with Data

In [14]:
#make sure all the df columns match perfectly with the way the table was created in sql

## Query Data

In [15]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [16]:
#this will show the names of the tables you created
Base.classes.keys()

['user', 'shoe']

In [17]:
#my table in pgadmin (postgres) is named envdata. 
#EnvironmentData = Base.classes.envdata
#This is where we make the objects with the data from teh shoe
ShoesObject = Base.classes.shoe

In [19]:
session = Session(engine)

# EData = session.query(EnvironmentData).all()
SData = session.query(ShoesObject).all()

In [ ]:

# Create our session (link) from Python to the DB
session = Session(engine)

EData = session.query(CustomerData).all()
myData = []

for x in EData:

    fullEdata = {}

    fullEdata = {
        "Country": x.Country,
        "HDI":x.HDI,
        "Footprint_Crop":x.Footprint_Crop,
        "Footprint_Graze":x.Footprint_Graze,
        "Footprint_Forest":x.Footprint_Forest,
        "Footprint_Carbon":x.Footprint_Carbon,
        "Footprint_Fish":x.Footprint_Fish,
        "Footprint_Total":x.Footprint_Total,
        "Land_Urban":x.Land_Urban,
        "Emission_CO2":x.Emissions_CO2,
        "BioCap":x.Biocapacity_Total,
        "BioCap_RD":x.BioCap_RD,
        "Data_Quality":x.Data_Quality
    }

    myData.append(fullEdata)

In [ ]:
myData