In [1]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
import psycopg2
import pandas as pd

In [4]:
#dont forget to pip install dotenv: pip install python-dotenv
from dotenv import load_dotenv
import os

In [5]:
#get the uri for the heroku postgres database
#this assumes you have a .env file that is in your gitignore
load_dotenv()
uri = os.getenv('URI')

In [6]:
print(uri)

postgresql://mkabdfhjlqsogu:93873a62a5dccb35747c23cece9b64182121871b6d812159e892d2ac191cd7f8@ec2-54-157-15-228.compute-1.amazonaws.com:5432/d62003lpu7ctu

In [7]:
engine = create_engine(f'{uri}')

## Create Tables

In [8]:
from sqlalchemy import Column, Integer, String, Float, ForeignKey
from sqlalchemy.orm import relationship
from sqlalchemy.ext.declarative import declarative_base

In [19]:
Base = declarative_base()

In [20]:
class BaseballPlayer(Base):
    __tablename__ = "player"
    player_id = Column(String, primary_key=True)
    birth_year = Column(Integer)
    birth_month = Column(Integer)
    birth_day = Column(Integer)
    birth_country = Column(String)
    birth_state = Column(String)

### Create tables with foreign keys

In [26]:
class Customer(Base):
    __tablename__ = 'customer'
    id = Column(Integer, primary_key=True)
    name = Column(String)

    billing_address_id = Column(Integer, ForeignKey("address.id"))
    
    billing_address = relationship("Address", foreign_keys=[billing_address_id])
    

class Address(Base):
    __tablename__ = 'address'
    id = Column(Integer, primary_key=True)
    street = Column(String)
    city = Column(String)
    state = Column(String)
    zip = Column(String)

### Add the tables to the database

In [27]:
Base.metadata.create_all(engine)

### Add record to existing table

In [21]:
player_dict = {'player_id':[1,2], 'birth_year':[1988,1990],'birth_month':[3,11],'birth_day':[26,10],'birth_country':['USA','Canada'],'birth_state':['Colorado','BC']}
df_1 = pd.DataFrame.from_dict(player_dict)

In [22]:
df_1

   player_id  birth_year  birth_month  birth_day birth_country birth_state
0          1        1988            3         26           USA    Colorado
1          2        1990           11         10        Canada          BC

In [23]:
df_1.to_sql('player', engine, if_exists='append', index=False)

2

## Add Table with Data

In [9]:
player_dict = {'player_id':[3], 'birth_year':[1985],'birth_month':[3],'birth_day':[26],'birth_country':['USA'],'birth_state':['Colorado']}
df_2 = pd.DataFrame.from_dict(player_dict)

In [10]:
df_2

   player_id  birth_year  birth_month  birth_day birth_country birth_state
0          3        1985            3         26           USA    Colorado

In [13]:
#make sure all the df columns match perfectly with the way the table was created in sql
df_2.to_sql('player', engine, index=False) #for very large dataframes, this may need to be broken down into sections

1

## Query Data

In [28]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(engine, reflect=True)

In [29]:
#this will show the names of the tables you created
Base.classes.keys()

['address', 'customer']

In [35]:
#my table in pgadmin (postgres) is named envdata
customer = Base.classes.customer

In [37]:
session = Session(engine)

CustomerData = session.query(customer).all()

In [ ]:

# Create our session (link) from Python to the DB
session = Session(engine)

EData = session.query(CustomerData).all()
myData = []

for x in EData:

    fullEdata = {}

    fullEdata = {
        "Country": x.Country,
        "HDI":x.HDI,
        "Footprint_Crop":x.Footprint_Crop,
        "Footprint_Graze":x.Footprint_Graze,
        "Footprint_Forest":x.Footprint_Forest,
        "Footprint_Carbon":x.Footprint_Carbon,
        "Footprint_Fish":x.Footprint_Fish,
        "Footprint_Total":x.Footprint_Total,
        "Land_Urban":x.Land_Urban,
        "Emission_CO2":x.Emissions_CO2,
        "BioCap":x.Biocapacity_Total,
        "BioCap_RD":x.BioCap_RD,
        "Data_Quality":x.Data_Quality
    }

    myData.append(fullEdata)

In [ ]:
myData